@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular.woff");
    src: url("../fonts/OpenSansRegular.ttf");
    src: url("../fonts/OpenSansRegular.eot");
    // src: url("../fonts/OpenSansRegular.eot?#iefix")format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PT_Sans-Web-Bold";
    src: url("../fonts/PT_Sans-Web-Bold.ttf");
    // src: url("../fonts/PT_Sans-Web-Bold.ttf?#iefix")format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PT_Sans-Web-Regular";
    src: url("../fonts/PT_Sans-Web-Regular.ttf");
    // src: url("../fonts/PT_Sans-Web-Regular.ttf?#iefix")format("truetype");
    font-style: normal;
    font-weight: normal;
}



