//========================================================
//                     Variables
//=========================================================

// Colors

$accent-clr: #000;
$accent-clr2: #fbc904;
$accent-clr3: #e4322c;
$primary: #068bd1;
$secondary: #231f20;
$secondary2: #7e7e7e;
$secondary4: #f1f1f1;
$secondary5: #dfdfdf;
$default: #fff;


// Fonts

$default-font: 'OpenSansRegular', sans-serif;
$font: 'PT_Sans-Web-Bold', sans-serif;
$font1: 'PT_Sans-Web-Regular', sans-serif;
