/*========================================================
                        Camera
=========================================================*/
@import "_mixins.scss";
@import "_variables.scss";

$minHeight: 400px;
$ratio: 0.520000;

.camera_container {
  position: relative;
  padding-bottom: ($ratio * 100%);
}

@media (max-width: ($minHeight / $ratio)) {
  .camera_container {
    padding-bottom: $minHeight;

  }
}

@mixin camera-abs() {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.camera_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: #fff;
  z-index: 0;
}

.camera_wrap img {
  max-width: none !important;
}

.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%;
}

.camera_src {
  display: none;
}

.cameraCont, .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.cameraSlide {
  @include camera-abs();
}

.cameraContent {
  @include camera-abs();
  display: none;
}

.camera_target {
  @include camera-abs();
  overflow: hidden;
  text-align: left;
  z-index: 0;
}

.camera_overlayer {
  @include camera-abs();
  overflow: hidden;
  z-index: 0;
}

.camera_target_content {
  @include camera-abs();
  overflow: hidden;
  z-index: 2;
}

.camera_loader {
  background: #fff url(../images/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3;
}

.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4;
}

.camerarelative {
  overflow: hidden;
  position: relative;
}

.imgFake {
  cursor: pointer;
}

.camera_command_wrap .hideNav {
  display: none;
}

.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4;
}

.showIt {
  display: none;
}

.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative;
}

.camera_caption {
  display: none;
}

.cameraContent .camera_caption {
  display: block;
}

/*================   Custom Layout&Styles   =====================*/
.camera_caption {
  position: absolute;

  > div {
    height: 100%;

  }

  .camera_link {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.camera_pag {
    position: absolute;
    bottom: 20px;
    right: 20px;

  &_ul {
    text-align: center;

    li {
      display: inline-block;
      width: 16px;
      height: 16px;
      line-height: 12px;
      text-align: center;
      cursor: pointer;
      border: 4px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #fff;
      @include transition(.3s all ease);

      &.cameracurrent , &:hover{
        display: inline-block;
        background: #231f20;
        @include transition(.4s all ease);
      }

      & + li {
      	margin-left: 10px;
      }

      > span {
        display: none;
      }
    }
  }
}

.camera_nav {
  position: absolute;
  width: 100%;
  min-height: 30px;
  top: 45%;
}

.camera_next,
.camera_prev {
  position: absolute;
  width: 20px;
  height: 32px;
  top: 0;
  cursor: pointer;
  z-index: 9;
  @include opacity(0.5);
  @include transition(0.3s);

  &:hover {
    @include opacity(1);
  }
}

.camera_next {
  left: 13%;
  background: url('../images/hover-camera-prev.png') 0 0 no-repeat;
}

.camera_prev {
  right: 20px;
  background: url('../images/hover-camera-next.png') 0 0 no-repeat;
}